<script>
export default {
  middleware: 'auth-middleware',
  methods: {
    resetState() {
      this.$store.dispatch('user/removeStateA')
      this.$router.replace({ name: 'index' })
    },
  },
}
</script>

<template>
  <v-app>
    <v-row class="mt-5">
      <v-col cols="2" offset="10">
        <v-btn
          color="teal"
          elevation="0"
          dark
          style="text-transform: capitalize"
          @click="resetState"
          >ውጣ</v-btn
        >
      </v-col>
    </v-row>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>
