<template>
  <v-app>
    <v-main>
      <nuxt />
    </v-main>
    <v-footer fixed dark class="white--text pa-3" color="teal">
      <v-flex class="text-center">
        Copyright &copy; {{ new Date().getFullYear() }}. All rights reserved
      </v-flex>
    </v-footer>
  </v-app>
</template>

<script></script>
