<script>
import register from '~/query/register.gql'

export default {
  layout: 'no_auth',
  data() {
    return {
      clearable: true,
      loading: false,
      valid: false,
      name: '',
      phone_no: '',
      allowedUser: true,
    }
  },
  computed: {
    allowed() {
      return this.allowedUser
    },
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        const { data } = await this.$apollo.query({
          query: register,
          variables: {
            name: this.name.toLowerCase(),
            phone_no: `+251${this.phone_no}`,
          },
          fetchPolicy: 'network-only',
        })

        console.log('data: ', data)

        const token = data.register.token
        let claims = token.split('.')[1]
        claims = JSON.parse(atob(claims))
        claims.token = token
        if (claims['https://hasura.io/jwt/claims'].has_completed) {
          this.$router.replace({
            name: 'visited',
          })
          this.loading = false
        } else {
          this.$store.commit('user/setUserData', claims)

          this.$router.replace({
            name: 'survey',
          })

          this.loading = false
        }
      } catch (error) {
        this.loading = false
        this.allowedUser = false
      }
    },
    onChange() {
      this.allowedUser = true
    },
  },
}
</script>

<template>
  <v-app dark class="grey lighten-4">
    <v-container fluid>
      <v-row justify="center" align="center" class="mt-15 mb-8">
        <v-col cols="12" md="5">
          <v-card
            elevation="2"
            class="pa-12 rounded-card"
            color="grey lighten-5"
          >
            <v-card-text
              class="
                text-center
                display-3
                font-weight-bold
                mb-7
                mt-n4
                teal--text
              "
              >ይመዝገቡ</v-card-text
            >

            <v-form v-model="valid" @submit.prevent="submit">
              <v-text-field
                v-model="name"
                :rules="rules.required"
                label="ስም"
                :clearable="clearable"
                outlined
                color="teal"
                elevation="0"
                clear-icon="mdi-close-box-multiple-outline"
                prepend-inner-icon="mdi-account-plus-outline"
                class="black--text"
                @change="onChange()"
              ></v-text-field>
              <v-text-field
                v-model="phone_no"
                label="ስልክ ቁጥር"
                :rules="rules.required.concat(rules.et_phone_number_nullable)"
                :clearable="clearable"
                outlined
                color="teal"
                elevation="0"
                prepend-inner-icon="mdi-phone-plus-outline"
                clear-icon="mdi-close-box-multiple-outline"
                class="mt-2"
                prefix="+251"
                @change="onChange()"
              ></v-text-field>
              <v-btn
                raised
                large
                rounded
                :loading="loading"
                block
                type="submit"
                color="teal"
                class="white--text font-weight-regular medium"
                :disabled="!valid"
                >ግባ
              </v-btn>

              <v-card-text v-if="!allowed" class="text-center mt-5 text-lg"
                >ቃለመጠይቁን እንዲሞሉ አልተፈቀደልዎትም።</v-card-text
              >
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.rounded-card {
  border-radius: 5% !important;
}
</style>
