<script>
export default {
  layout: 'no_auth',
  created() {
    this.$store.dispatch('user/removeStateA')
  },
}
</script>

<template>
  <v-app dark class="grey lighten-4">
    <v-container fluid>
      <v-row justify="center" align="center" class="mt-15 mb-8">
        <v-col cols="12" md="5" class="mt-15">
          <v-card
            elevation="2"
            class="pa-8 mt-7 rounded"
            color="grey lighten-5"
          >
            <v-card-text
              class="
                text-center
                display-1
                font-weight-bold
                mb-7
                mt-n4
                teal--text
              "
            >
              <v-icon class="text-center" size="50" color="teal"
                >mdi-checkbox-multiple-marked-circle-outline</v-icon
              >
              {{
                $route.query.id !== undefined
                  ? `ቃለመጠይቁን ስለሞሉ እናመሰግናለን ። ${
                      $route.query.card
                        ? `የነፃ የአየር ሰዓት ቁጥርዎ ፦ ${$route.query.card}`
                        : ``
                    }`
                  : 'ቃለመጠይቁን ከዚህ በፊት ሞልተውታል። በድጋሚ መሙላት የተፈቀደ አይደለም። እናመሰግናለን።'
              }}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>
